<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iv.ersr.game.mapper.GameRentalInfoMapper">

    <select id="listDetails" resultType="com.iv.ersr.game.entity.GameRentalDetail">
        SELECT id,game_size FROM game_rental_detail
        <where>
            AND game_id = #{gameId}
            <if test="search != null and search != ''">
                OR game_size like CONCAT('%',#{search},'%')
            </if>
        </where>
    </select>
</mapper>
